/* css tres paginas de cardapio*/
body {
    font-family: 'Montserrat', sans-serif;
    background:  #db9ed6;
}

/* csscabecalho */
header {
    background: #db9ed6;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0c0008;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #56cf0a;
    text-decoration: underline;
}
 
/* css imagem cardapio */
#banner {
    width: 100%;
}

/* css rodape */
footer {
    text-align: center;
    background: #db9ed6;
    padding: 40px 0;
}

.copyright {
    color: #0c0008;
    font-size: 15px;
    margin: 20px 0 0;
}
 
@media screen and (max-width: 480px) {
    .caixa, .principal {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }