body {
    background: #98ce42
}

#banner {
    width: 100%;
}

.principal {
    background: rgb(163, 204, 157);
    padding: 30px;
}

.titulo-principal {
    padding: 20px;
}

.titulo-centralizado {
    text-align: left
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

strong {
    color: #083d01;
}

.itens {
    font-style: italic
}

.benefícios {
    background: #f1f7d7;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 50%;
}

.imagembeneficios {
    width: 50%;
}