body {
    background:  #9ed4db;
}

header {
    background: #db9ed6;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0c0008;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #56cf0a;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px dotted #000000;
    border-radius: 25px;
}

.produtos li:hover {
    border-color: #56cf0a;
}

.produtos li:active {
    border-color: #2699e1;
}

.produtos li:hover h2 {
    font-size: 33px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}

.produto-preco a {
    text-transform: uppercase;
    color: #0c0008;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

.produto-preco a:hover {
    font-size: 24px;
    color: #56cf0a;
    text-decoration: underline;
}

.produto-preco:active {
    border-color: #2699e1;
}

footer {
    text-align: center;
    background: #db9ed6;
    padding: 40px 0;
}

.copyright {
    color: #0c0008;
    font-size: 15px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display: block;
}

form input {
    display: block;
}