body {
    background: #9ed4db;
}

header {
    background: #db9ed6;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0c0008;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #56cf0a;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: rgb(185, 223, 179);
    padding: 30px;
}

.titulo-principal {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.avaliacao {
    text-transform: uppercase;
    color: #0c0008;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.avaliacao:hover {
    color: #56cf0a;
    text-decoration: underline;
}

.titulo-centralizado {
    text-align: center;
    font-size: 22px;
}

p {
    text-align: left;
}

#missao {
    font-size: 20px;
}

strong {
    color: #302e2e;
}

.itens {
    font-style: italic;
    font-size: 18px;
}

.benefícios {
    background: #db9ed6;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 50%;
}

.imagembeneficios {
    width: 15%;
}

footer {
    text-align: center;
    background: #db9ed6;
    padding: 40px 0;
}

.copyright {
    color: #0c0008;
    font-size: 15px;
    margin: 20px 0 0;
    text-align: center;
}
