/* css cabeçalho */
body {
    font-family: 'Montserrat', sans-serif;
    background: #9ed4db;

}

header {
    background: #db9ed6; 
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0c0008;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #56cf0a;
    text-decoration: underline;
}

.cabecalho-pagina {
    color: #a275ce;
}

.cabecalho-pagina:hover {
    color: #a275ce;
    text-decoration: none;
}

.logo-celular {
    display: none;
}

/* css avaliacao */
.link-avaliacao a {
    color: #0c0008;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

.link-avaliacao a:hover {
    color: #56cf0a;
    text-decoration: underline;
}



/* css produtos */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px dotted #000000;
    border-radius: 25px;
}

.produtos li:hover {
    border-color: #56cf0a;
}

.produtos li:active {
    border-color: #2699e1;
}

.produtos li:hover h2 {
    font-size: 33px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 1em;
}

.imagem-produto {
    opacity: 1;
    transition: 400ms;
    margin: 1em;
}

.imagem-produto:hover {
    opacity: 0.5;
}

.produto-descricao {
    font-size: 18px;
    margin: 1em;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}

.produto-preco a {
    text-transform: uppercase;
    color: #0c0008;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

.produto-preco a:hover {
    font-size: 24px;
    color: #56cf0a;
    text-decoration: underline;
}

.produto-preco:active {
    border-color: #2699e1;
}

/* css rodapé */
footer {
    text-align: center;
    background: #db9ed6;
    padding: 40px 0;
}

.copyright {
    color: #0c0008;
    font-size: 15px;
    margin: 20px 0 0;
}

/* css contato */
.pagina-contato {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 30%
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 35%;
    padding: 15px 0;
    background: #b08ad6;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 20px auto;
}

.enviar:hover {
    background: #56cf0a;
    color: #000000;
    transform: scale(1.1);
}

.enviar::selection {
    background: #0c0008;
}


table {
    margin: 20px 0 40px;
}

thead {
    background: #b08ad6;
    color: antiquewhite;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

.ajuda {
    font-size: 18px;
}

.ajuda a {
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.ajuda a:hover {
    font-size: 20px;
    text-decoration: underline;
    color: #56cf0a;
}

/* css da página inicial */
.banner {
    width: 65%;
    opacity: 1;
    transition: 400ms;
    text-align: center;
    margin: 40px auto 0;
    display: block;
}

.banner:hover {
    opacity: 0.5;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-weight: bold;
}

.principal {
    padding: 3em 0;
    background: #9ed4db;
    width: 940px;
    margin: 0 auto;
}

.principal h1 {
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
    text-shadow: 5px 5px 5px #356a71;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: oblique;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 5px 5px #8dd1da;
}

.utensilios:hover {
    opacity: 0.5;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#9ed4db,#b08ad6);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.qrcode {
    background: #b08ad6;
    text-align: center;
}

.qrcode p {
    margin: 1em;
}

.qrcodeimagem {
    float: center;
    width: 20%;
    margin: 0 20px 20px 0;
}

#titulo-qrcode {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-weight: bold;
}

.qrcode a {
    color: #0c0008;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}
    
.qrcode a:hover {
    color: #56cf0a;
    text-decoration: underline;
}

.texto-qrcode {
    width: 40%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 100px 0 100px 0;
}

.baixo {
    display: none;
}

section .benefícios {
    background: #b08ad6;
}

.benefícios {
    padding: 3em 0;
    background: #b08ad6;
}

#titulo-beneficios {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-weight: bold;
}


.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.itens {
    line-height: 1.5;
    list-style: none;
}

.itens:first-child {
    font-weight: bold;
}

.itens::before {
    content: "🐈";
}

.imagem-beneficios {
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 5px 5px #a275ce;
}

.imagem-beneficios:hover {
    opacity: 0.5;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/* css imagem cardapio */
#banner {
    width: 100%;
}

.cardapiocelular {
    display: none;
}

/* css qrcode */
.imagem-qrcode {
    width: 100%;
}

.body-qrcode {
    background: #b08ad6;
}

/* css para celular */
@media screen and (max-width: 480px) {
    .header, .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos, .pagina-contato, body {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }
    
    .imagem-beneficios {
        width: 100%;
    }

    .lista-beneficios {
        width: 90%;
    }

    .imagem-beneficios {
        box-shadow: none;
    }

    .produtos li {
        width: 100%;
        margin: auto;
    }

    .conteudo-beneficios {
        width: auto;
    }

    .enviar {
        width: 75%;
        padding: 15px 0;
        background: #b08ad6;
        color: whitesmoke;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
        margin: 20px auto;
    }
    
    .enviar:hover {
        background: #56cf0a;
        color: #000000;
        transform: scale(1.1);
        margin: 20px 10px;
    }

    .texto-qrcode {
        margin: auto;
        width: 50%;
    }

    .qrcodeimagem {
        display: none;
        margin: auto;
    }

    .qrcode {
        text-align: none;
    }

    .qrcode p {
        margin: 1em;
    }

    .qrcode a {
        margin: 1em;
    }

    .lado {
        display: none;
    }

    .baixo {
        display: block;
    }

    #titulo-qrcode {
        font-size: 1.8em;
    }

    .logo-celular {
        display: block;
        text-align: center;
        margin: auto;
    }

    .logo-computador {
        display: none;
    }

    nav ul {
        text-align: center;
    }

    .banner {
        width: 100%;
        opacity: 1;
        transition: 400ms;
        margin: auto;
    }

    #banner {
        display: none;
    }

    .cardapiocelular {
        display: block;
        width: 100%;
    }
}

